body {
  background-color: #282c34;
}

h1 {
	font-weight: bold;
	font-size: x-large;
  margin: 0;
}

h2 {
	font-weight: bold;
	font-size: large
}

/* .App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}



.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
} */

.App header {
  justify-content: space-around;
  align-items: center;
  padding: 0 4rem;
}

.info-container {
  margin-top: 2rem;
	height: 100%;
	width: 80%;
}

.info-container h2 {
	margin-bottom: 1rem;
}

.info-container p {
	margin-bottom: 0.5rem;
}

.sign-in-form {
	display: flex;
	flex-direction: column;
	width:100%;
	justify-content: center;
	align-items: center;
	margin: 1rem;
}

.sign-in-form Input {
	margin-bottom: 1rem;
}

Button {
  margin-top: 1rem;
  width: 50%;
}

