/* body {
  background-color: #282c34;
} */

.intro-container h1 {
	font-weight: bold;
	font-size: x-large;
	margin-bottom: 1rem;
}

.intro-container h2 {
	font-weight: bold;
	font-size: large;
	margin-bottom: 0.5rem;
}

/* .about-container {
  max-width: 728px;
  margin: 0 auto;
} */

.about-container section {
	text-align: left;
  min-height: 100vh;
  background-color: rgb(40, 37, 53);
} 

.about-container section div {
	padding: 1rem;
}
